*{
	box-sizing: border-box;
}

body {
	text-align: center;
    font-family: 'Quicksand', sans-serif;
}

 /***CABECERA***/
 #cabecera {
 	width: 100%;
 	clear: both;
 	position:fixed;
 	background-color: #5DADE2;
 	top: 0;
 	left: 0;
    font-weight: bolder;
    box-shadow: 0 0 20px 0 #888888;
 }

 #entnav{
 	position: relative;
 	margin: 0;
 	padding: 0;
 }

#cabecera #main {
    transition: margin-left .5s;
    float: left;
    width: 50px;
    font-size:30px;
    cursor:pointer;
    height: 14px;
    position: relative;
    display: inline-block;
}

#cabecera #main span {
    display: block;
    position: absolute;
    height: 5px;
    width: 80%;
    background-color: #fff;
    opacity: 1;
    left: 4px;
}

#cabecera #main span:nth-child(1) {
    top: 0;
}

#cabecera #main span:nth-child(2){
    top: 7px;
    padding-top: 5px;
}

#cabecera #main span:nth-child(3){
    top: 14px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: left;
	top: 0;
	
}

li{
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
    font-weight: bold;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #D3D3D3;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/***Fin Cabecera***/

/***Página Principal***/
#container{
	width: 100%;
	padding-top: 30px;
}